#MainCarousel {
	height: 200px !important;
}

@media (min-width: 1000px) {
	#MainCarousel {
		height: 300px !important;
	}
}

@media (min-width: 1500px) {
	#MainCarousel {
		height: 400px !important;
	}
}

.berry-carousel-img {
	max-width: 100%;
}
