/* Default.aspx */
/* Carousel-banner */
#MainCarousel {
	height: 200px !important;
}

@media (min-width: 1000px) {
	#MainCarousel {
		height: 300px !important;
	}
}

@media (min-width: 1500px) {
	#MainCarousel {
		height: 400px !important;
	}
}

.berry-carousel-img {
	max-width: 100%;
}

/* GO_BERRIES-btn */
.btn-go-berries {
	border: 2px solid #707070;
	padding: 10px 40px 10px 40px;
	font-size: 23pt;
}

	.btn-go-berries:hover {
		text-decoration: none;
		color: black;
	}

/* New Q&A-carousel */
.qna-carousel-control-icon {
	color: black;
	font-size: 50pt;
}

.qna-card {
	background-color: white;
	border: 1px solid #707070;
	height: 450px;
	width: calc(23.3% - 20px);
	float: left;
	margin-right: 30px;
}

	.qna-card:nth-child(1) {
		margin-left: 15%;
	}


@media (max-width: 1350px) {
	.qna-card {
		width: calc(35% - 15px);
	}

	.carousel-item > .qna-card:nth-child(3) {
		display: none;
	}
}

.qna-title {
	padding-right: 25px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: 1.2em;
	height: 2.4em; /* line-height 가 1.2em 이고 12라인을 자르기 때문에 height는 1.2em * 12 = 14.4em */
}

	.qna-title > a {
		color: black !important;
		text-decoration: none;
	}

.qna-contents {
	color: black !important;
	padding: 0 25px 0 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 12; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: 1.2em;
	height: 14.4em; /* line-height 가 1.2em 이고 12라인을 자르기 때문에 height는 1.2em * 12 = 14.4em */
}

	.qna-contents:hover {
		text-decoration: none;
	}

/* Notices */
.notice-main {
	text-align: center;
}

	.notice-main > div {
		margin-bottom: 15px;
	}

.notice-main-link {
	color: black !important;
}

/* about us */
.all-varyberry {
	background-color: #B40004;
	height: 740px;
	text-align: center;
	padding-top: 60px;
}

	.all-varyberry > div:not(:nth-child(3)) {
		border-right: 0.5px solid #707070;
	}

.team-varyberry {
	width: 33.3%;
	height: 620px;
	float: left;
}

.role {
	width: 60%;
	float: left;
	color: white;
	text-align: left;
	padding-left: 80px;
}

.name {
	width: 40%;
	float: left;
	color: white;
	text-align: left;
}

@media (max-width: 1350px) {
	/* about us */
	.all-varyberry {
		height: 2220px;
	}

	.team-varyberry {
		width: 100%;
	}

	.role {
		width: 50%;
		padding-left: 0;
		text-align: center;
	}

	.name {
		width: 50%;
		text-align: center;
	}
}
