/* Navbar */
.cb-navbar {
	text-align: center;
	width: 100%;
	height: 90px;
	line-height: 90px;
}

.cb-navbar-brand {
	color: white;
	font-weight: 500;
}

	.cb-navbar-brand:hover {
		color: white;
		text-decoration: none;
	}

.cb-logo {
	position: absolute;
	left: 0;
	margin: 10px;
}

.cb-nav-item {
	font-weight: 500;
	color: white;
	margin: 30px;
}

	.cb-nav-item:hover {
		text-decoration: none;
		color: white;
	}

/* Question.aspx */
.answer-rectangle {
	height: 110px;
	width: 70px;
	background-color: #EB5849;
	position: absolute;
	top: 0;
	right: 5rem;
	color: white;
}

.answer-rectangle > span {
	position: absolute;
	bottom: 0.3rem;
	left: 1.15rem;
}

/* copyright */
.copyright {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
